.multi-item-carousel {
  width: 100%;
  overflow-x: hidden;
  overflow-y: clip;

  .mic-scroll-wrapper {
    width: 100%;
    overflow-x: hidden;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
  }

  .mic-container {
    width: 1500%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
    overflow: hidden;

    img {
      border-radius: 20px;
      aspect-ratio: 380/439;

      &:first-of-type {
        display: inline;
      }
  
      &:last-of-type {
        display: none;
      }

    }

    .mic-item {
      flex: 1 0 15%;

      h2 {
        margin-top: 20px;
      }

    }
  }

  .mic-footer {
    width: 100%;
    position: relative;
    height: 40px;

    .mic-indicators {
      text-align: center;
      display: inline-block;
      width: 100%;

      .mic-indicator {
        border: 3px solid rgb(var(--color-primary));
        background-color: transparent;

        content: '';
        height: 4px;
        width: 0px;
        list-style-type: none;
        display: inline-block;
        cursor: pointer;
        opacity: 0.8;

        &.active {
          opacity: 1;
        }

      }
    }

    .mic-arrows {
      position: relative;
      top: -100%;
      right: 0;
      left: 5%;
      width: 100%;

      button:last-of-type {
        right: 10%
      }

      @media(min-width: 500px) {
        position: absolute;
        left: 30%;
        top: -100%;

        button:last-of-type {
          right: 60%
        }
      }

      .mic-arrow {
        background-color: transparent;
        border: none;
        position: absolute;

      }
    }
  }

  @media (min-width: 400px) {
    .wrapper {
      grid-template-columns: repeat(15, 1fr);
    }

    .mic-container {
      gap: 15px;
      width: 1500%;

      .mic-item {
        flex: 1 0 14%;

        &:nth-of-type(1n+1) {
          display: inherit;
        }


      }
    }

    .mic-footer {
      .mic-indicators {
        .mic-indicator {
          width: 0%;
        }
      }
    }
  }


  @media (min-width: 600px) {
    .wrapper {
      grid-template-columns: repeat(8, 1fr);
    }

    .mic-container {
      gap: 15px;
      width: 400%;

      .mic-item {
        flex: 1 0 10%;

        &:nth-of-type(1n+1) {
          display: inherit;
        }

        &:nth-of-type(1n+19) {
          display: none;
        }
      }
    }

    .mic-footer {
      .mic-indicators {
        .mic-indicator:nth-of-type(n+5) {
          display: none;
        }
      }
    }


  }

  @media (min-width: 900px) {

    .wrapper {
      grid-template-columns: repeat(8, 1fr);
    }

    .mic-container {
      gap: 15px;
      width: 267%;

      .mic-item {
        flex: 1 0 7.3%;

        &:nth-of-type(1n+1) {
          display: inherit;
        }

        &:nth-of-type(1n+25) {
          display: none;
        }

        img {
          aspect-ratio: 229/152;
          &:first-of-type {
            display: none;
          }
  
          &:last-of-type {
            display: inline;
          }
        }

        
      }
    }

    .mic-footer {
      .mic-indicators {
        .mic-indicator:nth-of-type(n+4) {
          display: none;
        }
      }
    }

  }

  @media (min-width: 1200px) {
    .mic-container {
      gap: 15px;

      .mic-item {
        flex: 1 0 6%;

        &:nth-of-type(1n+1) {
          display: inherit;
        }
      }
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
    cursor: pointer;
  }

  .carousel-control-next-icon:after {
    content: ">";
    font-size: 65px;
    color: rgb(var(--color-primary));
  }

  .carousel-control-prev-icon:after {
    content: "<";
    font-size: 65px;
    color: rgb(var(--color-primary));
  }
}