.svg-purple {
  filter: invert(20%) sepia(38%) saturate(3449%) hue-rotate(262deg) brightness(75%) contrast(117%);
}

.svg-green {
  filter: invert(20%) sepia(73%) saturate(3449%) hue-rotate(140deg) brightness(103%) contrast(117%);
}

.svg-light-green {
  filter: invert(20%) sepia(73%) saturate(3449%) hue-rotate(140deg) brightness(103%) contrast(117%);
}

.svg-orange {
  filter: invert(100%) sepia(78%) saturate(3974%) hue-rotate(-60deg) brightness(120%) contrast(88%);
}


.svg-boxes-icon {
  filter: var(--filter-svg-boxes-icon);
}