@use "sass:math";

.container {
  margin-left:10px;
  margin-right:10px;
}



section {
  padding-top:80px;
}

header {
  z-index: 2;
  position: fixed;
  background-color : rgb(var(--color-background));
  width: 100%;

  & > div {
    display: flex;

    .logo {
      aspect-ratio: 38 / 15;
      margin: 0;
      margin-inline: 15px;
      margin-top: 7px;
      width: 190px;
    }

    .menu-button {
      margin: 15px;
      margin-left: auto;
      
    }
  }

  @media (min-width: $md) {
    display: flex;
    & > div {
      width: auto;
      display: inline-block;
    }
    .menu-button {
      display: none;
    }

    #modal-nav {
      margin: 15px;
      margin-left: auto;
    }
  }
  
}

.section-icon {
  width: 7rem;
}

#inicio {
  background-color: rgb(var(--color-primary));
  padding-top: 82px;
  max-height: 100vh;
  overflow-x: hidden;
  position: relative;

  & > img {
    width: 230%;
    margin-left: -65%;
    border-radius: 0 0 $radius $radius;
    max-width: none;
    position: relative;
    height: calc( 100vh - 86px );
    filter: brightness(0.7);
    //aspect-ratio: 58 / 75;
  }

  & > video {
    position: absolute; 
    top: 0px;
    max-width: 100vw;
    height: 100%;
    filter: brightness(0.7);
  }


  div {
    width: calc(100% - 30px);
    position: absolute;
    margin-left: 15px;
    margin-right: 15px;
    bottom: 30px;
    margin-bottom: 40vh;

    a {
      @extend .button;
      background-color: rgb(var(--color-head-cotizar));
      max-width: 200px;
      margin-top: 5vh;
    }
    
    h1 {

      span {
        text-transform: uppercase;
        font-size: 1.9rem;
        line-height: 10vh;
      }
      
      font-weight: 700;
      font-size: 1.7rem;
      color: rgb(var(--color-title));
      text-align: center;
    }
  }
}

#proyecto {
  
  padding-bottom: 20px;
  

  article {
    .section-icon {
      margin-left: -1rem;
      margin-bottom: -2rem;
    }

    h2 {
      text-align: left;
    }

    text-align: center;
    padding: 0 5px;

    p {
      text-align: left;
    }

    img {
      aspect-ratio: 299 / 168;
      border-radius: $radius;
    }
  }


  background-color: rgb(var(--color-primary));
  

  .boxes {
    margin-top: $sp-vertical-secondary;
    display:grid;
    width: 100%;
    gap: 14px;
    grid-template-columns: 1fr 1fr;

    img {
      border-radius: $radius;
      aspect-ratio: 299 / 168;
      &:first-of-type {
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    div {
      background-color: rgb(var(--color-secondary));
      color: rgb(var(--color-primary-dark));
      border-radius: $radius;
      padding: 15px;
      


      .icon {
        color:rgb(var(--color-primary));
        max-width: 50px;
        margin-left: auto;
        position: relative;
        @extend .svg-green;
      }
      

      

      h3 {
        font-weight: 700;
      }
    }
  }
}

#vista360 {
  text-align: center;
  background-color: rgb(var(--color-secondary));
  img {
    border-radius: $radius;
  }
}

#cercano {
  padding-bottom: $sp-vertical-primary;
  background-color: rgb(var(--color-secondary)); 

  .cards {
    display: flex;
    gap:15px;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
      flex-basis: 100%;
    }
  }
}

#galeria {
  background-color: rgb(var(--color-primary));
  .container {
    display: grid;
    padding-bottom: 100px;
    grid-template-columns: 1fr;
    gap: 15px;

    img {
      border-radius: $radius;
      aspect-ratio: 89 / 50;
    }
  }
}

#comollegar {
  order: 6;
  padding-bottom: $sp-vertical-primary;
  background-color: rgb(var(--color-secondary));
  text-align: center;

  a {
    margin-top: $sp-vertical-secondary;
    @extend .button;
  }


  #map {
    height: 500px;
    width: 100%;
  }


  .zoom-button {
    background-color: rgb(var(--color-primary));;
    font-size: 14px;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 100%;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    text-align: center;

    & svg {
      display: block;
    }

    &.zoom-in {
      margin-bottom: 5px;
    }

    &.zoom-out {
      margin-top: 30px;
    }
  }

  .fullscreen-button {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 15px;
    background-color: rgb(var(--color-primary));;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  /* Posicionamiento personalizado de los botones */
  .gm-style .zoom-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .gm-style .fullscreen-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

}

#cotizar {
  background-color: rgb(var(--color-primary));
  padding-top: $sp-vertical-primary;
  text-align: center;

  ul {
    li {
      text-align: left;
      display: block;
      margin-bottom: 20px;

      a {
        @extend .button;
        background-color: rgb(var(--color-secondary));
      }
    }
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content:center;
   

    div{
      width: 50%;
      margin-left: 10%;
    }

    .logo{
      width:100%;
      max-width:152px;
    }
    ul {
      width: 40%;
      margin-left: 10%;
      li{

        a{
          background-color: initial;
          
          padding:initial;
        }
      }
    }
  }
}

#owner {
  width: 100%;
  text-align: center;
  background-color: rgb(var(--color-secondary));
  color: rgb(var(--color-primary));
  grid-column-start: 1;
  grid-column-end: 3;

  padding-top: 10px;
  padding-bottom: 10px;

  h2 {
    color: rgb(var(--color-primary));
  }

  img {
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
  }
}
