@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Staatliches&display=swap');

@import 'variables';
@import 'reset';
@import 'svg';
@import 'menu_button';
@import 'button';
@import 'modal_nav';
@import 'logo';
@import 'panorama';
@import 'hotspot';
@import 'cards';
@import 'xs';
@import 'md';
@import 'multi-item-carousel';
@import 'slider';


.swipe-hand {
  $hand-width: 150px;
  width: $hand-width;
  margin-left: calc(50vw - ($hand-width / 2));
  position: absolute;
  margin-top: calc( 100vh -  160vh );
  transform-origin: center;
  z-index: 9999;
  animation: swipeAnimation 1.5s linear infinite;
}

@keyframes swipeAnimation {
  0%, 100% {
    transform: rotate(20deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  90% {
    transform: rotate(20deg);
  }
}